.form-container {
  -webkit-box-align: center;
  align-items: center;
  place-content: center;
  max-width: 80%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
  padding: 1rem;
  border-radius: 16px;
  position: relative;
  z-index: 10;
  margin: 1rem auto;
}

.courier-form-input {
  flex-grow: 1;
  margin: auto;
  min-width: 200px !important;
  max-width: 300px;
}

.courier-form-sub-field-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.courier-form-sub-fields {
  flex-grow: 1;
}

.input-fields-container {
  display: flex;
  flex-wrap: wrap;
}

.spacer {
  width: 1rem;
}
