.form-container {
  -webkit-box-align: center;
  align-items: center;
  place-content: center;
  max-width: 80%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 16%) 0px 1pt 4pt, rgb(0 0 0 / 8%) 0px 2pt 8pt;
  padding: 1rem;
  border-radius: 16px;
  position: relative;
  z-index: 10;
  margin: 1rem auto;
}

.courier-form-input {
  flex-grow: 1;
  margin: auto;
  min-width: 200px !important;
  max-width: 300px;
}

.courier-form-sub-field-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.courier-form-sub-fields {
  flex-grow: 1;
}

.input-fields-container {
  display: flex;
  flex-wrap: wrap;
}

.spacer {
  width: 1rem;
}

.courier-listing-container {
  max-width: 80%;
  margin: 1.5rem auto;
}

.view-buttons-container {
  display: flex;
  justify-content: end;
}

.listing-card {
  max-width: 100%;
  display: flex;
  height: 72px;
  background-color: rgb(248, 248, 248);
  margin-top: 1rem;
  border-radius: 4px;
  padding: 0.5rem;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}
.listing-card:hover {
  background-color: rgb(253, 253, 253);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.listing-card-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-top: 4px;
}

.lisitng-card-header {
  flex-grow: 1;
}

.listing-card-heading {
  margin: 0px;
  font-size: 20px;
  margin-top: 2px;
}

.listing-card-subheading {
  display: flex;
}
